.forecast {
	min-width: 35rem;
	border-radius: 20px;
	overflow: hidden;
	margin-bottom: 10rem;
	/* transition: all 200ms ease-in; */
}

.forecast__navigation {
	margin-top: 2rem;
	display: flex;
	justify-content: flex-start;
	list-style: none;
	width: 35rem;
}

.forecast__tab {
	color: white;
	cursor: pointer;
	font-family: "Open Sans Semibold";
	font-size: 1.2rem;
	margin-bottom: 0.75rem;
	margin-right: 1.5rem;
	opacity: 50%;
	padding: 0.25rem;
}

.forecast__tab--active {
	opacity: 100%;
}
