.card {
  background-color: hsl(var(--clr-base-100));
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: max-content;
  border-radius: 8px;
  box-shadow: var(--box-shadow-100);
}

.card__title {
  display: flex;
}

.card__title--start {
  justify-content: flex-start;
}

.card__title--center {
  justify-content: center;
}

.card__title--end {
  justify-content: flex-end;
}
