.navbar {
  background-color: hsl(var(--clr-light));
  box-shadow: var(--box-shadow-100);
  height: 100%;
  width: 15%;
  min-width: 220px;
  max-width: 260px;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.navbar__logo {
  width: 160px;
}

.navbar__icon {
  height: var(--fs-3);
  width: auto;
}

.navbar__menu-icon path {
  fill: hsl(var(--clr-dark-200));
}

.navbar__icon path {
  fill: hsl(var(--clr-dark-200));
}

.navbar__icon--active path {
  fill: hsl(var(--clr-light));
}

.navbar__dropdown {
  display: none;
}

.navbar__dropdown-list {
  width: 200px;
  list-style: none;
  padding: 0.8rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.navbar__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.navbar__link {
  color: inherit;
  text-decoration: none;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  padding: 0.8rem;
  border-radius: 8px;
}

.navbar__link--active {
  background-color: hsl(var(--clr-primary));
  color: hsl(var(--clr-light));
}

@media screen and (max-width: 1200px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    max-width: 100%;
    padding: 0.8rem;
    font-size: var(--fs-2);
  }

  .navbar__icon {
    height: var(--fs-2);
  }

  .navbar__list {
    flex-direction: row;
  }

  .navbar__link {
    gap: 0.6rem;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 0.4rem;
  }

  .navbar__logo {
    width: 140px;
  }

  .navbar__list {
    display: none;
  }

  .navbar__dropdown {
    display: block;
  }
}
