.dashboard header {
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.dashboard__location-icon {
  height: 1em;
  width: auto;
  margin-right: 0.5em;
}

.dashboard__location-icon path {
  fill: hsl(var(--clr-dark-200));
}

.dashboard__clock {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
}
