.notification {
  font-weight: 500;
}

.notification--success {
  background-color: hsl(var(--clr-success-100));
  color: hsl(var(--clr-success-300));
}

.notification--success path {
  fill: hsl(var(--clr-success-300));
}

.notification--error {
  background-color: hsl(var(--clr-alert-100));
  color: hsl(var(--clr-alert-300));
}

.notification--error path {
  fill: hsl(var(--clr-alert-300));
}

.notifications {
  position: fixed;
  left: 50%;
  bottom: 2em;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 1;
}

@media screen and (max-width: 576px) {
  .notifications {
    width: 90%;
    bottom: 1em;
  }
}
