@font-face {
	font-family: "Open Sans";
	src: url("./fonts/OpenSans-Regular.ttf");
}

@font-face {
	font-family: "Open Sans Semibold";
	src: url("./fonts/OpenSans-SemiBold.ttf");
}

@font-face {
	font-family: "Open Sans Bold";
	src: url("./fonts/OpenSans-Bold.ttf");
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1.6rem;
	font-family: "Open Sans";
	min-height: 100vh;
	width: 80rem;
	margin: auto;
}
