* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 62.5%;
	font-family: "Open Sans";
	background-image: linear-gradient(
		to right bottom,
		rgb(0, 119, 255),
		rgb(57, 149, 255)
	);
}
