* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0;
	font-size: 62.5%;
	font-family: "Open Sans";
	background-image: linear-gradient(
		to bottom,
		rgb(44, 141, 255),
		rgb(104, 174, 255)
	);
}
